# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.NETPROJECT.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Vyatalech\source\repos\NETPROJECT\.idea\.idea.NETPROJECT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
